$colverde: rgba(64, 203, 16, 0.96);
$colblanco: #ffffff;
$colnegro: #000000;
$colnegrogr: #474441;
$colnegcla:	#0f1721;
$colgriscla:#585858;
$colgris: rgba(187, 187, 187, 0.1);
$colgrioscuro: #5f5f5f;
$colnaranjaos:#F39C12 ;
$colnaranja: #FBC718;

$colturoscuro: #078895;
